
block content
  h1= title
  - const image_names = ['1.webp', '2.webp', '3.webp', '4.webp', '5.webp']


  - for (let i = 0; i < 3; i++)
    - const randomIndex = Math.floor(Math.random() * image_names.length)
    - const imageName = image_names[randomIndex]

    img(src=`/images/${imageName}`, alt=imageName, width="300", height="300")
